* {
  margin: 0;
  padding: 0;
}
html {
  background: url("../img/hacker.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
}

.Levw {
  padding-top: 30px;
  text-align: center;
  font-size: 80px;
  color: blue;
  font-family: "Monda", sans-serif;
  animation-name: colored;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
img {
  display: block;
  width: 500px;
  height: 500px;
  margin: 30px auto;
  border: 10px solid white;
  animation-name: bordercolor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media screen and (max-width: 650px) {
  img {
    width: 80%;
    height: 350px;
  }
}
.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 650px) {
  .projects {
    flex-direction: column;
  }
}

.projects a {
  display: block;
  width: 20%;
  margin: 15px auto;
  text-decoration: none;
  background-image: linear-gradient(to right, #1c7186, #6dd5ed);
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: black;
  font-weight: bold;
  transition-duration: 200ms;
}
@media screen and (max-width: 650px) {
  .projects a {
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a:hover {
  color: #6dd5ed;
  background-color: black;
  background-image: none;
}

/* ANIMATIONS */

@keyframes colored {
  0% {
    color: white;
  }
  25% {
    color: cyan;
  }

  50% {
    color: blue;
  }
  75% {
    color: darkblue;
  }
  100% {
    color: purple;
  }
}
@keyframes bordercolor {
  0% {
    border-color: white;
  }
  20% {
    border-color: red;
  }
  40% {
    border-color: green;
  }
  60% {
    border-color: blue;
  }
  80% {
    border-color: purple;
  }
  100% {
    border-color: black;
  }
}
