* {
    margin:0;
    padding: 0;
}
html { 
    background: url("background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  div {

    text-align:  center;
    font-size: 80px;
    color: blue
  }